.navbar {
    background-color: rgba(255, 255, 255, 0.95);
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 100;
    box-shadow: none !important;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 5rem;
}

.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(91, 211, 155);
}

.navbar-icon {
    margin-right: 0.5rem;
    font-size: 2rem !important;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    width: 50%;
}

.nav-item {
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    border-bottom: 2px solid #f00946;
}

.nav-links {
    color: rgb(91, 211, 155);
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.btn--link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.8rem 1.6rem;
    height: 100%;
    width: 100%;
}

.btn--mobile {
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    color: rgb(91, 211, 155) !important;
    padding: 14px 20px;
    border: 1px solid #fff !important;
    transition: all 0.3s ease-out;
}

.btn--mobile:hover {
    transition: all 0.3s ease-out;
    background: #fff !important;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 8rem;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #1c2237;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: #f00946;
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

    .nav-item:hover {
        border: none;
    }

    .nav-item {
        width: 100%;
    }

    .navbar-logo {
        position: absolute;
        top: 1rem;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 1rem;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .icon {
        color: rgb(91, 211, 155);
        font-size: 2rem !important;
    }

    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 12rem;
    }
}